# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
.vscode/templates

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
build/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
*.lock
*.tmp

# Android
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/app/build/
android/.idea/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.dart_tool/
ios/build/

# Web
web/.dart_tool/
web/build/

# Linux
linux/.dart_tool/
linux/build/

# macOS
macos/.dart_tool/
macos/build/

# Windows
windows/.dart_tool/
windows/build/
Thumbs.db

# Coverage files
coverage/
*.lcov

# Firebase
firebase-debug.log

# Others
pubspec.lock